*

!/.github/
!/.github/dependabot.yml
!/.github/workflows/
!/.github/workflows/*.yml

!/concepts/
!/concepts/*.png

!/public/
!/public/favicon.ico
!/public/*.png

!/src/
!/src/styles/
!/src/styles/style.css
!/src/*.ts
!/src/*/
!/src/*/*.ts

!/test/
!/test/*.ts

!/.gitattributes
!/.gitignore

!/LICENSE
!/README.md
!/index.html
!/add_version.sh
!/Makefile
!/Dockerfile
!/captain-definition
!/deno.json
!/package.json
!/package-lock.json
!/tsconfig.json
!/vite.config.js
