* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(227, 227, 227);
}

a {
  color: inherit;
  text-decoration: none;
}

body > *,
body > div > canvas {
  max-width: min(1200px, calc(100vw - 1em));
}

body > * {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  body > *,
  body > div > canvas {
    max-width: min(900px, calc(100vw - 1em));
  }
}

@media
screen and (orientation:portrait),
(max-width: 600px) {
  body > *,
  body > div > canvas {
    max-width: 100vw;
    padding-left: 0em;
    padding-right: 0em;
  }
  h1 {
    font-size: 80px;
  }
}

body > div > h1 {
  text-align: center;
}

body > div > canvas {
  margin-top: 1.0em;
  margin-bottom: 0.2em;
}

.version_number {
  display: block;
  text-align: right;
  font-weight: bold;
  font-style: italic;
  color: grey;
  font-family:Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#instructions {
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

.instructions_icon {
  width: 50px;
}

.instructions_section {
  display: flex;
  margin-top: 2em;
}

.instructions_flow_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions_flow_right {
  margin-left: 1em;
}

.instructions_section_subtext {
  font-weight: bolder;
  font-style: italic;
}
